NODE_ENV=development
HOST=0.0.0.0
PORT=3000
LOG_LEVEL=info
DATABASE_URL=postgresql://garimzap:garimzap@localhost:5432/garimzap
REDIS_URL=redis://localhost:6379

POSTGRES_USER=garimzap
POSTGRES_PASSWORD=garimzap
POSTGRES_DB=garimzap
POSTGRES_PORT=5432

REDIS_PORT=6379
